:root {
	--main-color: #1f1e1a;
	--header-bg: #1f1e1a;
	--header-color: #fff;
	--bar-bg: rgba(117,137,12,0.75);
	--menu-bg-color: #fff;
	--menu-color: #5f6368;
	--menu-color-hover: #202124;
	--main-menu-color: #202124;
	--submenu-bg-hover: #1f1f1f;
	--submenu-bg-hover-active: #09c;
	--font-body: "Microsoft Yahei", "WenQuanYi Micro Hei", "sans-serif", "Helvetica Neue", "Helvetica", "Hiragino Sans GB";
}

svg {
	background: rgba(15,14,10,0.8) !important;
}

pre, textarea {
	border: 1px solid #0f0e0a;
	padding: 15px;
	color: #d8d3c5 !important;
	background: rgba(15,14,10,1);
	box-shadow: inset 0 0 36px 0 rgba(0,0,0,0.8);
	margin-top: 10px;
}

.cbi-button {
	-webkit-appearance: none;
	cursor: pointer;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	width: auto !important;
	color: #d8d3c5;
	font-size: .8rem;
	font-family: "DIN";
	font-weight: bold;
	/* text-shadow: 0 1px 1px #000; */
	text-decoration: none;
	border-width: 1px;
	border-radius: 0;
	border-style: solid;
	border-color: #44433f;
	border-bottom-color: #3a3935;
	box-shadow: inset 0 0 20px 0 #4d4c4c5c,0 0 3px 0 #000;
	background-color: #131313;
	padding: 5px;
}

a:link {
  color: #fff;
  background-color: transparent;
  /*text-decoration: none;*/
}

.assoclist {
	font-size: smaller;
}

[data-page="admin-statistics-graphs"] [data-plugin] img {
	filter: invert(100%) hue-rotate(1deg);
	margin-left: -0.6rem;
}
